body {
  margin: 0;
  background-color: #27778b;
  font-family: Arial,sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding: 40px 20px;
  color: white;
  text-align: center;
  line-height: 1.5;
}

h1 {margin-bottom: 20px;}
h3 {margin: 30px 0 15px 0;}
p, dd {margin-bottom: 15px;}

@media (max-width: 600px) {
  body {
    padding: 20px;
    font-size: 14px;
  }
  h1 {font-size: 24px;}
  h3 {font-size: 18px;}
}
